<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>569565520614-ieg2hkhu65o0254fc8cpd8e1mbefueq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569565520614-ieg2hkhu65o0254fc8cpd8e1mbefueq5</string>
	<key>API_KEY</key>
	<string>AIzaSyDuaW7vjYRUulqKAUeqEuAr6k6yewOF1JY</string>
	<key>GCM_SENDER_ID</key>
	<string>569565520614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boomAk.GeekChat</string>
	<key>PROJECT_ID</key>
	<string>geekchat-d49ba</string>
	<key>STORAGE_BUCKET</key>
	<string>geekchat-d49ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569565520614:ios:94694dbd1709ade5</string>
	<key>DATABASE_URL</key>
	<string>https://geekchat-d49ba.firebaseio.com</string>
</dict>
</plist>